{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}

<h3 class="text-center fs-3 fw-bold">Products</h3>


<table id="example" class="table table-striped container">
    <tbody>
        <thead>
            <tr>
                <th>ID</th>
                <th>ITEM</th>
                <th>BUYING PRICE</th>
                <th>SELLING PRICE</th>
            </tr>
        </thead>
        {% for i in products %}
    <tbody>
        <tr>
            <td>{{ i[0]}}</td>
            <td>{{ i[1]}}</td>
            <td>{{ i[2]}}</td>
            <td>{{ i[3]}}</td>
        </tr>
    </tbody>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

