{% extends "base.html" %}

{% block title %}Products{% endblock %}

{% block content %}
<div>
<h3 class="text-center fs-3 fw-bold">Products</h3>
<div>
    <form action="/add_products" method="POST" class="container mb-5" style="width: 50%;">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Product Name</label>
            <input type="text" name="product_name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Buying Price</label>
            <input type="number" name="buying_price" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputSellingPrice" class="form-label">Selling Price</label>
            <input type="number" name="selling_price" class="form-control" id="exampleInputSellingPrice">
         </div>
        <button type="submit" class="btn btn-primary">Add Product</button>
    </form>
</div>

<table id="example" class="table table-striped container">
    <tbody>
        <thead>
            <tr>
                <th>ID</th>
                <th>ITEM</th>
                <th>BUYING PRICE</th>
                <th>SELLING PRICE</th>
            </tr>
        </thead>
        {% for i in products %}
    <tbody>
        <tr>
            <td>{{ i[0]}}</td>
            <td>{{ i[1]}}</td>
            <td>{{ i[2]}}</td>
            <td>{{ i[3]}}</td>
        </tr>
    </tbody>
    {% endfor %}
    </tbody>
</table>

</div>
{% endblock %}