{% extends "base.html" %}

{% block title %}Sales{% endblock %}

{% block content %}
<div>
    <h3 class="text-center fs-3 fw-bold">MyDuka Sales</h3>
</div>
<div>
    <table id="example" class="table table-striped container">
        <thead>
            <tr>
                <th>SALE_ID</th>
                <th>PID</th>
                <th>QUANTITY</th>
                <th>CREATED AT</th>
            </tr>
        </thead>
        {% for i in sales %}
        <tbody>
            <tr>
                <td>{{ i[0] }}</td>
                <td>{{ i[1] }}</td>
                <td>{{ i[2] }}</td>
                <td>{{ i[3] }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}